*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}
/*rem-->root-em, most of browsers has a font size value of 16px*/
/*1rem is equivalent to 16px*/

/*'margin' is best used when creating space between elements*/
/*padding is best used when creating space between and element's border and it's contents */

nav .nav,nav .nav-logo{
	display: inline;
	margin: 0.5rem;
	/*margin-top: 0.5rem*/
	/*margin-right: 0.5rem*/
	/*margin-bottom: 0.5rem*/
	/*margin-left: 0.5rem*/
}

#intro{
	padding-left: 10% ;
	padding-right: 10% ;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthand property*/
	padding: 2rem 10% 3rem 10%;
	text-align: center;
}
.header{
	text-align: center;
}
#intro h2,#intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	background-color: #c2195b;
	font-size: 1rem;
	padding: 1rem;
	font-weight: bold;
	border-radius: 25px;
}

#succeed-info{
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	margin-bottom: 1rem;
	text-align: center;
}

 #succeed-info .card {
 	/*Allows the cards to appear beside each other*/
 	display: inline-block;
 	/*Aligns with the tallest element in the line*/
 	/*Mostly used with the Inline-block element*/
 	vertical-align: top;
 	/*Allows for the cards to have an equal height that adjust with the content*/
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer{
	padding: 0.7rem;
}

footer span{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

/*Activity S07*/

#pre-footer{
	padding: 2rem 10% 3rem 10%;
	background-color: #002540;
	color: white;
}
#pre-footer h3{
	margin-bottom: 0.3rem;
	}

#pre-footer .pre{
	display: inline-block;
	vertical-align: bottom;
	min-height: 100px;
	width: 23%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


