/*
CSS Rules
selector{
	property: value;
}
*/

/*Type Selector*/
h1{
	color: olive !important;
	/*'!important' property has the highest priority*/
	text-align: center;
	font-size: 2rem;
}
/*landing section*/
section{
	height: 100vh;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}
/*Universal Selector*/
*{
	/*monospace acts like an alternate font for Courier New*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}
/*navigation bar*/
nav{
	background-color: white;
}
/*selector: hover psuedo class*/
a:hover{
	background-color: #ffd6de;
}
div{
	display: inline-block;
	float: right;
}
/*id selector */

#Zuitt-motto{
	/*letter spacing-- changes the spaces in between the characters*/
	letter-spacing: 5px;
}

h3{
	letter-spacing: 25px;
}

/*Adjacent Sibling Selector*/
/*selector+selector*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/* The selectors used for combinator selectors aren't limited to type selectors only.
   Id,Class,attribute and universal selectors may also be used. */

/*#Zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 50px;
}
*/

ol{
	list-style-type: none;
}
/*class selector*/

.offering-item{
	text-transform: uppercase;
	/*text-transform--change font to a particular case here it was uppercase*/
}


/*Attribute selector*/
input[required]{
	border-style: solid;
	border-width: 2px;
	border-color: navy;
	background-color: beige;
}
/*Descendant Selector*/
/*selector selector*/
#bootcamp-learning-list li{
	color: #070966;
}
/*color values can be wriiten in hexadecimal format using
 (#) sign in combination with 6 alphanumeric characters*/
 /*General Sibling Selector*/
 /*selector~selector*/
 h2 ~ a{
 	/*text-decoration--changes lines included in the text
 	                   e.g.overline,underline and strike through*/
 	/*The value none will remove the underline from the links*/
 	text-decoration:none ;
 }

/*Child Selector*/
/*selector > selector*/

/*child selector--include more than two selectors and 
the last tag element is where all the changes will apply*/
body>section>form>label{
	color: rgb(237,17,35);
}
/*registered section*/

form{
	text-align: center;
	background-color: white;
	height: 210px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;
}
