/*CSS for nav tool*/
nav{
	padding: 1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	height: 7vh;
	position: sticky;
}
nav .nav-logo,nav .nav{
	list-style: none;
	display: inline;
    margin: 0.5rem;
}
nav .right-nav{
	width: 50vh;
	font-weight: bold;
	padding-left: 30%;
	vertical-align: top;
}
nav .tuitt-button{
	color: white;
	border-radius: 25px;
	background-color:#c2195b ;
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: 1.25rem;
}

/*CSS for landing page*/
#bg-image{
	min-height: 45vw;
	max-width: 100vw;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    margin-bottom: 10rem;
}
.front-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 45vw;
}
.container{
	text-align: right;
	color: white;
}
.title{
	font-family: 'Zilla Slab';
	font-size: 2.5rem;
    margin-left: 30rem;
	width: 50%;
	padding-bottom: 10 rem;
}
.subtitle{
	font-size: 1.25rem;
    margin-left: 40rem;
	width: 37%;
	text-align: right;
}
.apply-button{
	color: white;
	background-color: #c1295b;
	border-radius: 25px;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	margin-right: 7rem;
	width: 13vw;
}
/*CSS for intro section*/
.intro .title-2{
	font-family: 'Zilla Slab',serif;
	text-align: center;
	padding: 3vh;
}
.intro .intro-description{
	width: 70vw;
	text-align: left;
	padding-left: 15vw;
	padding-right: 5vw;
	padding-bottom: 15vh;
}
/*CSS for pre-footer*/
.pre-footer{
	text-align: center;
	padding-bottom: 15vh;
	background-color: #f7fbfb;
}
.pre-footer .title-2{
	font-family: 'Zilla Slab',serif;
	text-align: center;
	padding: 3vh;
}
.pre-footer .prefooter-description{
	width: 70vw;
	padding-left: 15vw;
	padding-right: 5vw;
}
.pre-footer .book-button{
	width: 12vw;
	color: white;
	border-radius: 25px;
	background-color: #336589 ;
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: 1rem;
}
/*CSS for footer*/
footer{
	text-align: center;
}