.external{
	color: yellow;
}
*{
	font-family: monospace;
	font-size: 20px;
}
h1{
	font-size: 50px;
}
#upper{
	text-transform: uppercase;
}
.l1,.l2,.l3{
	background-color: palegreen;
}
li[required]{
	border-style: solid;
	border-color: lightblue;
}
img + ul{
	list-style-type: none;
}
#descendant img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}
h4 ~ p{
	text-align: center;
}
body>section>ul>li{
	letter-spacing: 8px;
}